<!DOCTYPE html>
<html>
<head>
    <title>Partage de Calendrier</title>
</head>
<body>
    <h2>Bonjour {{name}},</h2>
    <p>Un calendrier a été partagé avec vous sur Organaizer.</p>
    <p>Vous pouvez le consulter en cliquant sur le lien ci-dessous :</p>
    <a href="{{url}}">Accéder au calendrier partagé</a>
    <p>Ce lien expirera dans 30 jours.</p>
    <br>
    <p>L'équipe Organaizer</p>
</body>
</html>
